.container {
  max-width: 960px; /*this is a standard width, good for most screens*/
  margin: 0 auto;
  padding: 2em;
}
/* body {
  background-image: url('../images/bliss.jpg');
} */

h1, h2 {
  text-align: center;
}

nav {
  padding: 1em;
}

img {
  width: 188px;
  height: 188px;
  border: 2px solid teal;
}

table {
  border: 5px solid black;
  width: 600px;
  height: 600px;
  margin: 0 auto;
}
/* tr {
  border: 3px solid blue;
}
td {
  border: 1px solid black;
} */


button {
  margin-left: 46%;
}
